[submodule "third-party/tbb"]
	path = third-party/tbb
	url = https://github.com/01org/tbb.git
	branch = tbb_2019
[submodule "third-party/bilke-cmake-modules"]
	path = third-party/bilke-cmake-modules
	url = https://github.com/bilke/cmake-modules.git
[submodule "third-party/boost-cmake"]
	path = third-party/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
